
body{
    background-color: aqua;
}
.gameBox {
    border: 2px solid red;
    position: relative;
    height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.playerOne {
    border: 2px solid red;
position: absolute;
   left: 0%;
   top: 0%;

}
.playerTwo {
    border: 2px solid red;
position: absolute;
   right: 0;
   top: 0;
   /* bottom: auto;s */

}

.rules {
  border: 2px solid green;
  padding: 5px;
display: flex;
flex-flow: column;
align-items: center;
}